@import "src/styles/variables";

.wrapper {
  position: relative;
  width: 100%;
  padding: 64px 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
    height: 100vh;
    padding: 0;
  }
}

.main {
  position: relative;
  width: 100%;
  max-width: 480px;

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
    height: 100%;
  }
}
