@import "src/styles/palette";
@import "src/styles/variables";

.title {
  margin-bottom: 32px;
}

.card {
  padding-top: 32px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-top: 24px;
  }
}

.input {
  margin-top: 16px;
}

.button {
  margin: 32px 0 16px;
  width: 100%;
}

.link {
  color: $black;
  width: 100%;
  text-align: center;

  a {
    color: $dark-grey;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.errorContainer {
  padding: 8px 16px;
  position: relative;
  width: 100%;
  color: $black;
  background-color: rgba($red, 0.1);
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    * {
      fill: $red;
    }
  }
}
