@import "src/styles/palette";

.card {
  padding-top: 32px;
}

.input {
  &:first-child {
    margin-top: 32px;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.button {
  margin: 32px 0 16px;
  width: 100%;
}

.link {
  color: $black;
  width: 100%;
  text-align: center;

  a {
    color: $dark-grey;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
