@import "src/styles/palette";
@import "src/styles/variables";

.container {
  position: relative;
  width: 100%;
}

.header {
  @extend .container;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid $grey;
}

.return {
  margin-right: 8px;
}

.button {
  margin-left: auto;
}

.info {
  margin-top: 24px;
}
