@import "src/styles/palette";
@import "src/styles/variables";

.returnLink {
  border-radius: 8px;
  color: $black;
  flex-shrink: 0;

  svg * {
    fill: currentColor;
    transition: fill $transition-duration;
  }

  &:hover:not(:disabled),
  &:focus {
    color: $dark-grey;
  }
}
