@import "src/styles/palette";
@import "src/styles/variables";

.container {
  position: relative;
}

.imageLink {
  margin-right: 8px;
  display: block;
  width: auto;
  height: auto;
}

.profileInfo {
  @extend .container;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.imageContainer {
  position: relative;
  width: 48px;
  height: 48px;
}

.img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $dark-grey;
}

.defaultAvatar {
  @extend .container;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  color: $black;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  display: block;
}

.online {
  color: $green;
}

.offline {
  color: $red;
}

.nameBlock {
  @extend .container;
  overflow-x: hidden;
  width: 100%;
}