@import "src/styles/palette";
@import "src/styles/variables";

.container {
  position: relative;
  width: 100%;
}

.card {
  padding: 0;
  max-height: 580px;
  min-height: 580px;
  height: 100%;
  background-color: $light-grey;
  overflow: hidden;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0;
    max-height: auto;
    min-height: auto;
    overflow: initial;
  }
}

.padding {
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  @extend .container;
  @extend .padding;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $white;
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $mobile-breakpoint) {
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
  }
}

.return {
  margin-right: 8px;

  &:hover,
  &:focus {
    color: $dark-grey;
  }
}

.form {
  @extend .container;
  @extend .padding;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: $white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $mobile-breakpoint) {
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.input {
  @extend .container;
  padding: 13px 16px;
  height: 48px;
  border-radius: 8px 0 0 8px;
}

.sendButton {
  border-radius: 0 8px 8px 0;
  width: 48px;
  height: 48px;
  padding: 8px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.chat {
  @extend .container;
  @extend .padding;
  padding-top: 112px;
  padding-bottom: 112px;
  height: 100%;
  overflow: auto;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
