$black: #3a3a3a;
$white: #ffffff;
$green: #519a5d;
$light-grey: #f7f7f7;
$dark-grey: #999999;
$grey: #dddddd;
$red: #e44040;
$blue: #516e9a;

$black-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
$card-shadow: 0px 4px 128px rgba(0, 0, 0, 0.08),
  0px 32px 64px -32px rgba(0, 0, 0, 0.1);
